body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7f7;

}
header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(17, 34, 158);
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.tabla-container {
    padding-top: 100px; /* Increased padding to create more space between header and table */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.tabla {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Added margin-top to the table */
}
.tabla th,
.tabla td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.tabla th {
    background-color: #add8e6;
}
.tabla tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.tabla tbody tr:nth-child(even) {
    background-color: #fff;
}
.tabla tbody tr:hover {
    background-color: #e0f7fa;
}
.descargable a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}
.descargable a:hover {
    text-decoration: underline;
}
